<div class="hero-subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="align-container" data-mh>
                    <div class="align-inner">
                        <h1 class="hero-subheader__title">{{page.title}}</h1>
                        <p class="hero-subheader__desc">{{page.description}}</p>
                            <!-- 
                                <a href="../configuration/index.html" class="btn btn--dark btn--rounded btn--w-icon">
                                    <i class="icon icon--arrow-right"></i>
                                    Configuration
                                </a>
                            -->
                    </div><!-- /.align-inner -->
                </div><!-- /.align-container -->
            </div><!-- /.col -->
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.hero-subheader -->