<!-- Required meta tags -->
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0">

<link rel="apple-touch-icon" sizes="57x57" href="/assets/theme/blue/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/theme/blue/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/theme/blue/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/theme/blue/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/theme/blue/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/theme/blue/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/theme/blue/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/theme/blue/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/theme/blue/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/theme/blue/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/theme/blue/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/theme/blue/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/theme/blue/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#253951">
<meta name="msapplication-TileImage" content="/assets/theme/blue/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#253951">

<meta name="description" content="Derin Öğrenme, Bilgisayarlı Görü, Doğal Dil İşleme ve Pekiştirmeli Öğrenme alanlarındaki uygulama, akademik yayınlar, eğitici kaynaklar ve blog yazılarını bulacağınız yapay öğrenme platformu.">
<meta name="author" content="Yapay Zekâ Araştırma İnisiyatifi">
<meta name="keywords" content="Yapay Zekâ, Artificial Intelligence, Computer Vision, Bilgisayarlı Görü, NLP, Doğal Dil İşleme, Deep Learning, Derin Öğrenme, Pekiştirmeli Öğrenme, Reinforcement Learning, Yapay Öğrenme, Makine Öğrenmesi">

<meta property="og:site_name" content="Yapay Zekâ Araştırma İnisiyatifi">
<meta property="og:image" itemprop="image"  content="/assets/images/yzai_6.jpg" />
<meta property="og:type" content="website" /> 

	
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="Başak & Yavuz - Nişanlanıyoruz"/>
<meta name="twitter:image" content="/assets/images/yzai_6.jpg"/>

{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt| strip_html }}" />
<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
{% else %}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<meta name="author" content="{{ site.name }}" />

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% endif %}
