---
layout: wrapper
---


<!--PAGE CONTENT-->
{% include header_sub.html %}

<section class="blog_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                {% for post in site.posts %}
                <div class="blog_list_item mb_50">
                    <img class="img-fluid" src="{{post.image}}" alt="">
                    <div class="blog_content">
                        <div class="post_date">
                            <h2>{{ post.date | date: '%d' }} <span>{{ post.date | date: '%B' }} </span></h2>
                        </div>
                        <div class="entry_post_info">
                            By: <a href="#">{{ post.author }}</a>
                            <a href="#">{{ post.categories[0] }}</a>
                            <a href="#">{{ post.date | date_to_long_string }}</a>
                        </div>
                        <a href="{{post.url}}">
                            <h5 class="f_p f_size_20 f_500 t_color mb_20">{{post.title}}</h5>
                        </a>
                        <p class="f_300 mb_20">{{post.summary}}</p>
                        <a href="{{post.url}}" class="learn_btn_two">Devamını Oku <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="blog-sidebar">

                    <div class="widget sidebar_widget widget_recent_post">
                        <div class="widget_title">
                            <h3 class="f_p f_size_20 t_color3">Son yazılar</h3>
                            <div class="border_bottom"></div>
                        </div>
                        {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
                        {% for post in sorted_posts limit: 4 %}
                        <div class="media post_item">
                            <img src="{{post.image}}" alt="{{post.title}}" width="90px">
                            <div class="media-body">
                                <a href="{{post.url}}">
                                    <h3 class="f_size_16 f_p f_400">{{post.title}}</h3>
                                </a>
                                <div class="entry_post_info">
                                    By: <a href="#">{{ post.author }}</a>
                                    <a href="#">{{ post.date | date_to_string }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="widget sidebar_widget widget_categorie mt_60">
                        <div class="widget_title">
                            <h3 class="f_p f_size_20 t_color3">Kategoriler</h3>
                            <div class="border_bottom"></div>
                        </div>
                        <ul class="list-unstyled">
                            {% assign categories_grouped = site.categories | sort   %}
                            {% for category in categories_grouped %}
                            <li>
                                <a href="/category/{{ category | first | slugify }}/">
                                    <span>{{ category[0] | replace:'-', ' ' }}</span><em>({{ category | last | size }})</em>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget sidebar_widget widget_tag_cloud mt_60">
                        <div class="widget_title">
                            <h3 class="f_p f_size_20 t_color3">Etiketler</h3>
                            <div class="border_bottom"></div>
                        </div>
                        <div class="post-tags">
                            {% assign tags = site.tags | sort  %}
                            {% for tag in tags %}
                            <a href="/tag/{{ tag | first | slugify }}/">
                                {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <ul class="col-lg-12 list-unstyled page-numbers shop_page_number text-left mt_30">
                <li><span aria-current="page" class="page-numbers current">1</span></li>
                <li><a class="page-numbers" href="#">2</a></li>
                <li><a class="next page-numbers" href="#"><i class="ti-arrow-right"></i></a></li>
            </ul>
            -->
        </div>
    </div>
</section>
<!--PAGE CONTENT-->