---
layout: wrapper
---

<!--PAGE CONTENT-->
{% include header_sub.html %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <!--<h2 id="what-is-doks">Yapay Zeka Araştırma İnisiyatifi</h2>-->
                    {{ content }}
                </div><!-- /.content -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.section -->
